.header {
	/* position: sticky; */
	z-index: var(--k-z-index-max);
	top: 0;
	text-align: center;
	background: var(--k-global-background);
}

/* Need the extra selector to out-specify the `plain-list` helper 
   that overrides padding. */
.header .header__inner-wrap {
	--k-header-max-width: var(--k-global-max-width);

	max-width: var(--k-header-max-width);
	margin: auto;
	padding-top: var(--k-global-padding-minus1);
	padding-right: var(--k-global-padding);
	padding-left: var(--k-global-padding);

	> li:first-of-type {
		display: flex;
		align-items: center;
	}
}

.header .nav__wrap {
	justify-content: space-between;
}

.nav__list {
	display: flex;
	font-family: var(--k-type-display);
	font-size: var(--k-type-size-minus2);
	line-height: 1;
}

.nav__list__item {
	display: inline;
}

.lettermark {
	width: auto;
	height: var(--k-type-size-plus2);
}
