.kind-words {
	display: grid;
	place-items: center;
}

.kind-words {
	gap: var(--k-grid-gutter);
	align-content: center;
	min-height: 100vh;
	padding: var(--k-space-xs-xl);
}

.kind-words blockquote {
	max-width: 66ch;
}
