.kind-words {
	display: grid;
	align-content: center;
}

.list {
	display: grid;
	gap: var(--k-space-lg-2xl);
}

.author-title {
	font-family: var(--k-type-display);
	font-size: var(--k-type-size-minus1);
	text-transform: uppercase;
}
