:root {
	--k-theme-color-primary: rgb(121 89 12);
	--k-theme-color-surface-tint: rgb(121 89 12);
	--k-theme-color-on-primary: rgb(255 255 255);
	--k-theme-color-primary-container: rgb(255 222 162);
	--k-theme-color-on-primary-container: rgb(38 25 0);
	--k-theme-color-secondary: rgb(108 92 63);
	--k-theme-color-on-secondary: rgb(255 255 255);
	--k-theme-color-secondary-container: rgb(246 224 187);
	--k-theme-color-on-secondary-container: rgb(37 26 4);
	--k-theme-color-tertiary: rgb(75 101 70);
	--k-theme-color-on-tertiary: rgb(255 255 255);
	--k-theme-color-tertiary-container: rgb(205 235 195);
	--k-theme-color-on-tertiary-container: rgb(9 32 8);
	--k-theme-color-error: rgb(186 26 26);
	--k-theme-color-on-error: rgb(255 255 255);
	--k-theme-color-error-container: rgb(255 218 214);
	--k-theme-color-on-error-container: rgb(65 0 2);
	--k-theme-color-background: rgb(255 248 242);
	--k-theme-color-on-background: rgb(31 27 19);
	--k-theme-color-surface: rgb(255 248 242);
	--k-theme-color-on-surface: rgb(31 27 19);
	--k-theme-color-surface-variant: rgb(237 225 207);
	--k-theme-color-on-surface-variant: rgb(77 70 57);
	--k-theme-color-outline: rgb(127 118 103);
	--k-theme-color-outline-variant: rgb(209 197 180);
	--k-theme-color-shadow: rgb(0 0 0);
	--k-theme-color-scrim: rgb(0 0 0);
	--k-theme-color-inverse-surface: rgb(53 48 39);
	--k-theme-color-inverse-on-surface: rgb(250 239 226);
	--k-theme-color-inverse-primary: rgb(235 193 108);
	--k-theme-color-primary-fixed: rgb(255 222 162);
	--k-theme-color-on-primary-fixed: rgb(38 25 0);
	--k-theme-color-primary-fixed-dim: rgb(235 193 108);
	--k-theme-color-on-primary-fixed-variant: rgb(92 66 0);
	--k-theme-color-secondary-fixed: rgb(246 224 187);
	--k-theme-color-on-secondary-fixed: rgb(37 26 4);
	--k-theme-color-secondary-fixed-dim: rgb(216 196 160);
	--k-theme-color-on-secondary-fixed-variant: rgb(83 69 42);
	--k-theme-color-tertiary-fixed: rgb(205 235 195);
	--k-theme-color-on-tertiary-fixed: rgb(9 32 8);
	--k-theme-color-tertiary-fixed-dim: rgb(177 207 168);
	--k-theme-color-on-tertiary-fixed-variant: rgb(52 77 48);
	--k-theme-color-surface-dim: rgb(227 217 204);
	--k-theme-color-surface-bright: rgb(255 248 242);
	--k-theme-color-surface-container-lowest: rgb(255 255 255);
	--k-theme-color-surface-container-low: rgb(253 242 229);
	--k-theme-color-surface-container: rgb(247 236 223);
	--k-theme-color-surface-container-high: rgb(241 231 217);
	--k-theme-color-surface-container-highest: rgb(235 225 212);
	--md-extended-color-alpha-color: rgb(142 73 88);
	--md-extended-color-alpha-on-color: rgb(255 255 255);
	--md-extended-color-alpha-color-container: rgb(255 217 222);
	--md-extended-color-alpha-on-color-container: rgb(58 7 23);
	--md-extended-color-beta-color: rgb(106 84 141);
	--md-extended-color-beta-on-color: rgb(255 255 255);
	--md-extended-color-beta-color-container: rgb(236 220 255);
	--md-extended-color-beta-on-color-container: rgb(36 14 69);
	--md-extended-color-gamma-color: rgb(68 94 145);
	--md-extended-color-gamma-on-color: rgb(255 255 255);
	--md-extended-color-gamma-color-container: rgb(216 226 255);
	--md-extended-color-gamma-on-color-container: rgb(0 26 65);
}
