.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: var(--k-space-md, 1rem);
}

.switcher > * {
	flex-basis: calc((var(--k-switcher-threshold, 30rem) - 100%) * 999);
	flex-grow: 1;
}

.switcher > :nth-last-child(n + 5),
.switcher > :nth-last-child(n + 5) ~ * {
	flex-basis: 100%;
}
