.with-sidebar {
	display: flex;
	flex-wrap: wrap;
	gap: var(--k-sidebar-space, var(--k-space-md));
}

.with-sidebar--left > :first-child {
	flex-basis: var(--k-sidebar-width, unset);
	flex-grow: 1;
}

.with-sidebar--left > :last-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}

.with-sidebar--right > :last-child {
	flex-basis: var(--k-sidebar-width, unset);
	flex-grow: 1;
}

.with-sidebar--right > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}
