.skills {
	display: grid;
	gap: var(--k-grid-gutter);
	align-content: center;
}

.skills__list {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--k-grid-gutter) / 2);
	text-align: center;

	li {
		padding: calc(var(--k-space-xs) / 2);
		white-space: nowrap;

		/* word-break: keep-all; */
		border: 1px solid currentColor;
	}
}
