.hero__image {
	width: 100%;
	height: auto;
}

.copy {
	gap: var(--k-grid-gutter);
}

.intro__social-list {
	justify-content: flex-end;
}

.intro__icon {
	display: inline-block;
}

.icon {
	width: var(--k-type-size-plus2);
	height: var(--k-type-size-plus2);
}

.with-icon {
	display: inline-flex;
	align-items: center;

	&__icon {
		margin-inline-end: 0.25em;
	}
}
