.hero {
	display: grid;
	place-items: end left;
}

.hero {
	grid-template-columns: 1fr;
	gap: var(--k-grid-gutter);
	min-height: 100dvh;
	padding: var(--k-space-sm-xl);
}

.hero__image {
	width: 100%;
	height: auto;
}

.copy {
	gap: var(--k-grid-gutter);
}

.hero__copy {
	max-width: 75ch;
}

.intro__icon {
	display: inline-block;
}

.icon {
	width: 1em;
	height: 1em;
}

.with-icon {
	display: inline-flex;
	align-items: center;

	&__icon {
		margin-inline-end: 0.25em;
	}
}
