.switch {
	cursor: pointer;

	display: grid;
	place-items: center;

	padding: var(--k-space-3xs);

	font-size: 2em;
	color: inherit;
	color: var(--k-theme-color-on-surface);

	background: var(--k-theme-color-surface-container-low);
	border: 1px solid var(--k-theme-color-outline);
	border-radius: 999px;

	fill: currentColor;
}
