.footer {
	text-align: center;
}

.footer__inner-wrap {
	--k-footer-max-width: var(--k-global-max-width);

	max-width: var(--k-footer-max-width);
	margin: auto;
	padding: var(--k-global-padding);
}

.cluster__wrap {
	display: flex;
	flex-wrap: wrap;
	gap: var(--k-grid-gutter);
	justify-content: space-between;

	font-family: var(--k-type-display);
	font-size: var(--k-type-size-minus1);
}

.copyright {
	text-align: left;
}
