:root {
	--k-global-color: #1b1924;
	--k-global-background: #eeeeef;

	color: var(--k-global-color);
	background: var(--k-global-background);
}

:root.k-dark {
	--k-global-color: #eeeeef;
	--k-global-background: #1b1924;
}
