/* apply a natural box layout model to all elements, but allowing components to change
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	min-height: 100%;
}

*:focus:not(:focus-visible),
*::before:focus:not(:focus-visible),
*::after:focus:not(:focus-visible) {
	outline: none;
}

button,
input,
textarea,
select {
	font: inherit;
}

img,
picture,
svg,
canvas {
	display: block;
	max-inline-size: 100%;
	block-size: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

button {
	border: 0;
	border-radius: 0;
}

a,
a:hover,
a:visited {
	color: inherit;
	text-decoration: none;
}

ul {
	padding-left: 1em;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		/* stylelint-disable declaration-no-important */
		scroll-behavior: auto !important;
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;

		/* stylelint-enable declaration-no-important */
	}
}
