@import '../../tokens/css/typography.css';

:root {
	--k-type-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--k-type-body: 'fyi Body', Inter, Roboto, 'Helvetica Neue', 'Arial Nova',
		'Nimbus Sans', Arial, var(--k-type-emoji), sans-serif;

	--k-type-heading: 'fyi Display', var(--k-type-body);
	--k-type-display: var(--k-type-heading);

	--k-type-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
		Consolas, 'DejaVu Sans Mono', var(--k-type-emoji), monospace;
	--k-type-serif: 'fyi Serif', 'Iowan Old Style', 'Palatino Linotype',
		'URW Palladio L', P052, var(--k-type-emoji), serif;

	font-size: var(--k-type-size-base);
	line-height: var(--k-type-line-height-plus3);
}

.k-type-no-wrap {
	white-space: nowrap;
}

body {
	font-family: var(--k-type-body);
	font-feature-settings:
		'ss07' 1,
		'ss08' 1,
		'cv10' 1;
	text-decoration-skip-ink: auto;
}

h1 {
	font-family: var(--k-type-display);
	font-size: var(--k-type-size-plus4);
	font-weight: 500;
	line-height: var(--k-type-line-height-base);
}

h2 {
	margin-block-start: var(--k-space-md-2xl);

	font-family: var(--k-type-display);
	font-size: var(--k-type-size-plus3);
	font-weight: 400;
	line-height: var(--k-type-line-height-plus1);
}

h3 {
	font-family: var(--k-type-display);
	font-size: var(--k-type-size-plus2);
	line-height: var(--k-type-line-height-plus1);
}

h4 {
	font-family: var(--k-type-display);
	font-size: var(--k-type-size-plus1);
	line-height: var(--k-type-line-height-plus2);
}

h5,
h6,
p,
ul {
	/* font-size: var(--k-type-size-base);
	line-height: var(--k-type-line-height-plus3); */
}

p,
ul {
	font-weight: 300;
}

h2 + span {
	margin-block-start: 0;
}

h2,
h3 {
	+ p,
	+ div,
	+ span + p,
	+ span + div {
		margin-block-start: var(--k-space-xs);
	}
}

a {
	&[href].with-decoration {
		text-decoration: underline;
	}
}
