:root.dark {
	--k-theme-color-primary: rgb(170 199 255);
	--k-theme-color-surface-tint: rgb(170 199 255);
	--k-theme-color-on-primary: rgb(10 48 95);
	--k-theme-color-primary-container: rgb(39 71 119);
	--k-theme-color-on-primary-container: rgb(214 227 255);
	--k-theme-color-secondary: rgb(190 198 220);
	--k-theme-color-on-secondary: rgb(40 49 65);
	--k-theme-color-secondary-container: rgb(62 71 89);
	--k-theme-color-on-secondary-container: rgb(218 226 249);
	--k-theme-color-tertiary: rgb(188 207 129);
	--k-theme-color-on-tertiary: rgb(41 53 0);
	--k-theme-color-tertiary-container: rgb(62 76 12);
	--k-theme-color-on-tertiary-container: rgb(216 235 154);
	--k-theme-color-error: rgb(255 180 171);
	--k-theme-color-on-error: rgb(105 0 5);
	--k-theme-color-error-container: rgb(147 0 10);
	--k-theme-color-on-error-container: rgb(255 218 214);
	--k-theme-color-background: rgb(17 19 24);
	--k-theme-color-on-background: rgb(226 226 233);
	--k-theme-color-surface: rgb(17 19 24);
	--k-theme-color-on-surface: rgb(226 226 233);
	--k-theme-color-surface-variant: rgb(68 71 78);
	--k-theme-color-on-surface-variant: rgb(196 198 208);
	--k-theme-color-outline: rgb(142 144 153);
	--k-theme-color-outline-variant: rgb(68 71 78);
	--k-theme-color-shadow: rgb(0 0 0);
	--k-theme-color-scrim: rgb(0 0 0);
	--k-theme-color-inverse-surface: rgb(226 226 233);
	--k-theme-color-inverse-on-surface: rgb(46 48 54);
	--k-theme-color-inverse-primary: rgb(65 95 145);
	--k-theme-color-primary-fixed: rgb(214 227 255);
	--k-theme-color-on-primary-fixed: rgb(0 27 62);
	--k-theme-color-primary-fixed-dim: rgb(170 199 255);
	--k-theme-color-on-primary-fixed-variant: rgb(39 71 119);
	--k-theme-color-secondary-fixed: rgb(218 226 249);
	--k-theme-color-on-secondary-fixed: rgb(19 28 43);
	--k-theme-color-secondary-fixed-dim: rgb(190 198 220);
	--k-theme-color-on-secondary-fixed-variant: rgb(62 71 89);
	--k-theme-color-tertiary-fixed: rgb(216 235 154);
	--k-theme-color-on-tertiary-fixed: rgb(22 30 0);
	--k-theme-color-tertiary-fixed-dim: rgb(188 207 129);
	--k-theme-color-on-tertiary-fixed-variant: rgb(62 76 12);
	--k-theme-color-surface-dim: rgb(17 19 24);
	--k-theme-color-surface-bright: rgb(55 57 62);
	--k-theme-color-surface-container-lowest: rgb(12 14 19);
	--k-theme-color-surface-container-low: rgb(25 28 32);
	--k-theme-color-surface-container: rgb(29 32 36);
	--k-theme-color-surface-container-high: rgb(40 42 47);
	--k-theme-color-surface-container-highest: rgb(51 53 58);
	--k-theme-color-alpha-color: rgb(255 178 191);
	--k-theme-color-alpha-on-color: rgb(86 29 43);
	--k-theme-color-alpha-color-container: rgb(113 51 65);
	--k-theme-color-alpha-on-color-container: rgb(255 217 222);
	--k-theme-color-beta-color: rgb(235 193 108);
	--k-theme-color-beta-on-color: rgb(64 45 0);
	--k-theme-color-beta-color-container: rgb(92 66 0);
	--k-theme-color-beta-on-color-container: rgb(255 222 162);
	--k-theme-color-gamma-color: rgb(136 209 236);
	--k-theme-color-gamma-on-color: rgb(0 53 67);
	--k-theme-color-gamma-color-container: rgb(0 78 97);
	--k-theme-color-gamma-on-color-container: rgb(183 234 255);
}
