.scrollContainer {
	position: relative;

	overflow-y: scroll;

	width: var(--k-overflow-container-width, 375px); /* Adjust width as needed */
	height: var(--k-overflow-container-height, 500px);

	border: 1px solid #ccc;
}

.imageWrapper {
	width: 100%;
	height: auto;
}

.gradient {
	pointer-events: none;

	position: sticky;
	bottom: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 150px;

	background: linear-gradient(
		to bottom,
		hsla(0deg, 0%, 100%, 0) 0%,
		hsla(0deg, 0%, 100%, 0.013) 8.1%,
		hsla(0deg, 0%, 100%, 0.049) 15.5%,
		hsla(0deg, 0%, 100%, 0.104) 22.5%,
		hsla(0deg, 0%, 100%, 0.175) 29%,
		hsla(0deg, 0%, 100%, 0.259) 35.3%,
		hsla(0deg, 0%, 100%, 0.352) 41.2%,
		hsla(0deg, 0%, 100%, 0.45) 47.1%,
		hsla(0deg, 0%, 100%, 0.55) 52.9%,
		hsla(0deg, 0%, 100%, 0.648) 58.8%,
		hsla(0deg, 0%, 100%, 0.741) 64.7%,
		hsla(0deg, 0%, 100%, 0.825) 71%,
		hsla(0deg, 0%, 100%, 0.896) 77.5%,
		hsla(0deg, 0%, 100%, 0.951) 84.5%,
		hsla(0deg, 0%, 100%, 0.987) 91.9%,
		hsl(0deg, 0%, 100%) 100%
	);

	transition: opacity 0.3s;
}

.hidden {
	display: none;
	opacity: 0;
}
