.projects {
	display: grid;
	place-items: center;
}

.projects {
	gap: var(--k-grid-gutter);
	align-content: center;
	min-height: 100vh;
	padding: var(--k-space-xs-xl);
}

.projects-cluster {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	gap: var(--k-grid-gutter);
}
