.projects {
	display: grid;
	gap: var(--k-grid-gutter);
	align-content: center;
}

.projects-cluster {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(calc(320px - 2 * var(--k-global-padding)), 1fr)
	);
	gap: var(--k-grid-gutter);

	li {
		/* Need this to hide li::marker in this specific context. */
		font-size: 0;
	}
}
