.projects {
	display: grid;
	gap: var(--k-grid-gutter);
	align-content: center;
}

.projects-cluster {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(calc(400px - 2 * var(--k-global-padding)), 1fr)
	);
	gap: var(--k-space-xs-xl);
	align-items: flex-start;
}
