.testimonial {
	display: grid;
	grid-template-rows: auto auto;

	blockquote {
		position: relative;

		&::before {
			content: '“';

			position: absolute;
			z-index: -1;
			left: -0.125em;

			font-family: var(--k-type-serif);
			font-size: 6em;
			font-variation-settings:
				'opsz' 20,
				'SOFT' 55,
				'WONK' 0;
			font-weight: 900;
			font-style: italic;
			line-height: 1;
			color: var(--k-theme-color-surface-dim);
		}
	}
}

.wrapper {
	--k-cluster-space: var(--k-space-sm-md);

	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(calc(360px - 2 * var(--k-global-padding)), 1fr)
	);
	place-items: start;
	padding-bottom: 1em;
}

.attribution {
	padding-top: 1em;
	border-top: 1px dotted;
}

.attribution__inner {
	display: inline-flex;
	gap: var(--k-space-xs);
	align-items: center;
}

.author-title {
	font-family: var(--k-type-display);
	font-size: var(--k-type-size-minus1);
	text-transform: uppercase;
}

.av {
	width: var(--k-space-md);
	height: var(--k-space-md);
	border-radius: 999px;
}
